<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198513213548-78oof8n2grid3u0he15fr1lpg8md09cu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198513213548-78oof8n2grid3u0he15fr1lpg8md09cu</string>
	<key>API_KEY</key>
	<string>AIzaSyAES-Rc-tDDTq0JSPH-ANswjqfBtztXYn4</string>
	<key>GCM_SENDER_ID</key>
	<string>198513213548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.personalBlog</string>
	<key>PROJECT_ID</key>
	<string>personal-blog-c9334</string>
	<key>STORAGE_BUCKET</key>
	<string>personal-blog-c9334.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198513213548:ios:626a8530620de46bd59849</string>
</dict>
</plist>